/* Base styles */
* {
    box-sizing: border-box;
}
h1 {
    text-align: center;
    color: black;
}
body {
    background-color: rgb(250, 230, 205);
}
.box {
    border: 3px solid black;
    padding: 8% 2% 0 2%;
    position: relative;
    float: left;
}
section {
    padding: 1.5%;
    margin: 0;
    position: relative;
    float: left;
}
.dish_title{
    position: absolute;
    width: 80px;
    right: 0;
    top: 0;
    border: 3px solid black;
    border-top: 0;
    border-right: 0;
    text-align: center;
    
}
#dish_color1{
    background-color: aquamarine;
}
#dish_color2{
    background-color: rgb(80, 185, 75);
}
#dish_color3{
    background-color: rgb(202, 161, 41);
}

/* Responsive styles */
/* Destop: screen width >= 992px */
@media (min-width: 992px ) {
    .col-lg-4 {
        width: 33.33%;
        height: 200px;
    }
    .box{
        height: 150px;
    }

}
/* Tablet: screen width betweem 991px and 768px */
@media (max-width: 991px) and (min-width: 768px) {
    .col-md-6 {width: 50%;}
    .col-md-12 {width: 100%;}
}

/* Mobile: screen width <= 767 px */
@media (max-width: 767px) {
    .col-s-12 {width: 100%;}
} 
